* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
@font-face {
	font-family: 'lobster';
	src: url('../fonts/Lobster-Regular.eot');
	src:
		url('../fonts/Lobster-Regular.woff') format('woff'),
		url('../fonts/lobster.woff2') format('woff2'),
		url('../fonts/Lobster-Regular.ttf') format('truetype'),
		url('../fonts/lobster.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lobster-Regular.svg#Lobster-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
	font-family: 'lobster';
}
.main {
	width: 100%;
	display: block;
	height: 100%;
	background-image: url('../img/background.jpg');
	background-size: cover;
	z-index: 1;
	position: fixed;
	left: 0;
	right: 0;
	filter: blur(10px);
}
.loading {
	display: block;
	position: fixed;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background:
	   -webkit-linear-gradient(-45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #09c, #f44);
	z-index: 4;
}
#loading-content {
	font-size: 24px;
	color: #ffffff;
	text-align: center;
	position: fixed;
}
.wrap {
	z-index: 2;
	position: fixed;
}
#progress {
	z-index: 2;
	top: 0;
	left: 0;
	right: 0;
	height: 10px;
	position: fixed;
	display: block;
	width: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
    appearance: none;
}
#alert {
	z-index: 3;
	left: 10%;
	right: 10%;
	position: fixed;
	display: none;
	background:
	   -webkit-linear-gradient(-45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #09c, #f44);

    border-radius: 2px; 
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
}
#alert-content {
	text-align: center;
	color: #ffffff;
	font-weight: bold;
	padding-top: 150px;
	padding-bottom: 150px;
	font-family: 'lobster', cursive;
	font-size: 56px;
}
#btnOK {
	width: 50%;
    /* margin: auto; */
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    /* margin-bottom: 50px; */
    position: absolute;
    bottom: 10%;
    left: 25%;
    background:
	   -webkit-linear-gradient(-45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #09c, #f44);

    border-radius: 2px; 
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
    outline: none;
    border: 0;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
}
#question {
	width: 100%;
	/*margin: auto;*/
	background: rgba(255, 255, 255, 0.35);
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
}
#question p {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'lobster', cursive;
	font-size: 24px;
}
#answer {
	width: 100%;
	/*margin: auto;*/
}
.row {
	width: 100%;
	height: auto;
	overflow: auto;
	margin-top: 10px;
}
.box {
	float: left;
	width: 47.5%;
	background: rgba(255, 255, 255, 0.35);
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
	font-family: 'lobster', cursive;
	font-size: 24px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center
}
.clear {
	clear: both;
}
#answerA {
	margin-right: 5%;
}
#answerC {
	margin-right: 5%;
}