@media only screen and (min-device-width: 600px) and (max-device-width: 1000px) {
	.wrap {
		left: 5%;
		right: 5%;
	}
	#alert {
		margin-top: 0;
	}
	#alert-content {
		padding-top: 80px;
		padding-bottom: 100px;
	}
	#question p {
		font-size: 14px;
		/*padding-top: 0;
		padding-bottom: 0;*/
	}
	.box {
		/*padding-top: 0;
		padding-bottom: 0;*/
		font-size: 14px;
	}

}