@media only screen and (max-device-width: 600px) {
	.wrap {
		left: 5%;
		right: 5%;
	}
	#alert {
		margin-top: 0;
	}
	#alert-content {
		font-size: 24px;
		padding-top: 100px;
		padding-bottom: 100px;
	}
	#btnOK {
	    /* margin: auto; */
	    padding-top: 8px;
	    padding-bottom: 8px;
	    /* margin-bottom: 50px; */
	    font-size: 14px;
	}
	#question p {
		font-size: 14px;
		/*padding-top: 0;
		padding-bottom: 0;*/
	}
	#answer {
		width: 100%;
		/*margin: auto;*/
	}
	.row {
		width: 100%;
		height: auto;
		overflow: auto;
		margin-top: 20px;
	}
	.box {
		font-size: 14px;
		/*padding-top: 0;
		padding-bottom: 0;*/
	}
}